
project_name = "$PROJECT_NAME"
project_ID = "$PROJECT_ID"
big_robot_name = "$BIG_ROBOT_NAME"
big_robot_email = "$BIG_ROBOT_EMAIL"
organization = $ORGANIZATION
organization_id = $ORGANIZATION_ID
location = $LOCATION
keyring = $KEYRING
keyring_key = $KEYRING_KEY
billing_account = "$BILLING_ACCOUNT"
backend_bucket_name = "$BACKEND_BUCKET_NAME"
bucket_path_prefix = "$BUCKET_PATH_PREFIX"
